:root {

    /* ### Primary */

    --clr-Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /* ### Neutral */

    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White-: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 300vh;
    background-color: var(--Light-Grayish-Blue);
}

/* =============================================
$$ Nav $$
============================================= */
nav {
    display: flex;
    background-color: var(--White-);
    height: 80px;
    align-items: center;

    justify-content: center;
    width: 100%;
}

.nav-child {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.nav-items {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.uls {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
}

li {
    list-style: none;
}

li a {
    color: var(--Grayish-Blue);
    text-decoration: none;
}

/* .btn {} */

button {
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 25px;
    color: var(--White-);
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    font-weight: 700;
}

/* =============================================
$$ Nav End $$
============================================= */

/* =============================================
$$ Main $$
 =============================================*/
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 85vh;
    background-color: var(--Very-Light-Gray);
}

.hero-child {
    width: 95%;
    height: 100%;
    /* background-color: brown; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 50%));
}

/* =============================================
$$ Hero img $$
 =============================================*/
.hero-img {
    position: relative;
    overflow-block: visible;
    overflow: hidden;
}

/* .first {
    /* overflow: hidden; 
} */

.first-img-hero {
    position: absolute;
    left: -59px;
    top: -220px;
    height: 168%;
}

.second {
    position: absolute;
    height: 120vh;
    width: 90%;
    overflow: auto;
    scrollbar-width: none;
    right: 0px;
}

.second-img-hero {
    top: -135px;
    position: absolute;
    right: -105px;
    height: 110%;
}

.ss {
    overflow: hidden;
}

/* =============================================
$$ Hero text $$
 =============================================*/
.hero-text {
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h1 {
    font-size: clamp(25px, 3vw, 30px);
}

.h1 h1 {
    font-weight: 600;
}

.p {
    font-size: clamp(18px, 3vw, 20px);
    line-height: 1.5;
    padding-block: 30px;
    color: var(--Grayish-Blue);
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--clr-Dark-Blue);
}

/* =============================================
$$ Hero Next $$
=============================================*/
.hero-next {
    width: 90%;
    padding-block: 100px;
}

.title-intro {
    font-size: clamp(20px, 3vw, 30px);
}

.title-intro h2 {
    font-weight: 500;
}

.intro-p {
    width: 60%;
}

.next-child-two {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,25%));
}

.next-two-items {
    padding-block: 20px;
    padding-right: 20px;
    padding-left: 0px;
}

.next-two-items h3 {
    font-size: clamp(20px, 3vw, 25px);
    font-weight: 500;
}
.next-two-items img{
    padding-top: 20px;
    padding-bottom: 30px;
}
/* =============================================
$$ Main End $$
============================================= */